body {
    background-color: #444444;
    height:100%;
}

#loginTitle {
    padding-top: 0px;
    margin-top: 0px;
}

#indexLoginSection {
    background-color: #353535;
    border: 8px solid black;
    border-bottom-color: #565656;
    border-right-color: #646464;
    border-top-color: #C4C4C4;
    border-left-color: #A4A4A4;
    height: 100%;
    padding: 10px;
    margin-left: 35%;
    width: 30%;
}

.titleFont {
    color: #dd4410;
    font-family: 'Lato', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align:center;
}

.indexLoginText {
    color: #666666;
    font-family: 'Lato', sans-serif;
    padding-left: 25%;
}

.baseFont {
    color: #656565
}

.loginField {
    background-color: #ffb87a;
    font-family: 'Lato', sans-serif;
    width: 50%;
    margin-left: 25%;
}

.button {
    background-color: #ffb87a;
    font-family: 'Lato', sans-serif;
}

#indexLoginButton {
    margin: 10px;
    margin-left: 40%;
    width:20%;
    font-size: 20px;
}